<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}Logs/nlog-internal.log">

  <targets>
    <target
      name="SmsLoggerFile"
      xsi:type="File"
      layout="${date}: ${message}"
      fileName="${basedir}Logs/sms.log"
      archiveAboveSize ="5000000"
      maxArchiveFiles="2"/>
    <target
      name="EmailLoggerFile"
      xsi:type="File"
      layout="${date}: ${message}"
      fileName="${basedir}Logs/email.log"
      archiveAboveSize ="5000000"
      maxArchiveFiles="2"/>
    <target
      name="LogFile"
      xsi:type="File"
      fileName="${basedir}Logs/service.log"
      archiveAboveSize ="5000000"
      maxArchiveFiles="2"/>
    <target
      name="ConsoleLog"
      xsi:type="Console"/>
  </targets>
  <rules>
    <logger name="SmsLogger" level="Info" writeTo="SmsLoggerFile" final="true" />
    <logger name="EmailLogger" level="Info" writeTo="EmailLoggerFile" final="true" />
    <logger name="*" minlevel="Trace" writeTo="LogFile,ConsoleLog" />
  </rules>
</nlog>
